*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --main-green: #99cc33;
    --secondary-green: #339933;
    --dark-green: #355e3b;
}

.nav-bar{
    height: 60px;
    z-index: 12;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Nav */
    .logo{
        width: 50%;
        height: auto;
    }
    
    /* Header */
    .header{
        height: 100vh;
        overflow: hidden;
    }
    .header-bg{
        height: 100vh;
        background-image: url(../assets/img/headerbg.png);
        background-size: cover;
        -webkit-transform: scaleX(-1.5) scaleY(1.5);
        transform: scaleX(-1.5) scaleY(1.5);
        z-index: 11;
    }
    .header-filter{
        background-image: linear-gradient(rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.95) 80%);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .header-content-container{
        padding-top: 60px;
        margin: 0 20px;
        bottom: 10vh;
        z-index: 13;
    }

    /* Helpers */
    .col-sm-6{
        width: 50%;
    }
} 

/* Flex */
.row{
    display: flex;
}
.flex-center{
    justify-content: end;
    align-items: center;
}
.flex-center-self{
    justify-self: end;
    align-self: center;
}

/* Position */
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
}
.absolute{
    position:absolute;
}
.relative{
    position: relative;
}
/* Lettering */
h1{
    font-size: 45px;
    font-weight: 400;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
    /* Font Colors */
    .green{
        color: var(--main-green)
    }
    .dark-green{
        color: var(--dark-green)
    }